* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(https://static.vecteezy.com/ti/foto-gratuito/p2/15937417-erba-verde-texture-di-sfondo-erba-giardino-concetto-utilizzato-per-fare-sfondo-verde-campo-da-calcio-golf-in-erba-prato-verde-pattern-texture-di-sfondo-gratuito-foto.jpg);
}

header {
    height: 80px;
    background-color: white;
    color:  black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 50px;
    margin-left: 1em;
}

#box-level {
    margin-right: 1em;
}

#btn-play {
    font-size: 20px;
    margin-left: 1em;
    color: green;
}

#container {
    width: 700px;
    height: 700px;
    background-color: grey;
    margin: 80px auto;
}